$num_height: 10vh;
::selection {
  background-color: transparent;
  color: inherit;
}

.score{
  text-align: left;
  font-family: 'Playfair Display', serif;
  font-size: 2em;
}
body {
  background-image: url('../images/background.jpg');
  background-size: cover;
}
#board {
  color: #FFFFFF;
  font-weight: bold;
  font-size: 1.3em;
  
  h1{
    text-align: center;
    color: #FDFF9D;
    font-size: 4em;
    font-weight: bold;
    padding: 0.5em 0 0.5em;
    font-family: 'Playfair Display', serif;
  }

  .first-col {
    padding: 0;
  }
  .zero {
    text-align: right;
    border: 1px solid white;
    height: 3*$num_height;
    line-height: 3*$num_height;
    padding-right: 1em;
    font-size: 1.7em;

    &:hover {
      background-color: lighten(#434343, 5%);
    }
  }

  .num {
    border: 1px solid white;
    height: $num_height;
    line-height: $num_height;
    text-align: center;

    &:hover {
      background-color: lighten(#434343, 5%);
    }
  }

  .range2{
    text-align: center;
    border: 1px solid white;
    height: 0.5*$num_height;
    line-height: 0.5*$num_height;

    &:hover {
      background-color: lighten(#434343, 5%);
    }
  }
  .which-row {
    border: 1px solid white;
    height: $num_height;
    line-height: $num_height;
    text-align: left;
    padding-left: 0.5em;

    &:hover {
      background-color: lighten(#434343, 5%);
    }
  }

  .red{
    background-color: red;

    &:hover {
      background-color: lighten(red, 15%);
    }
  }
  .black{
    background-color: black;

    &:hover {
      background-color: lighten(#434343, 5%);
    }
  }
  .range3{
    text-align: center;
    border: 1px solid white;
    height: 0.5*$num_height;
    line-height: 0.5*$num_height;

    &:hover {
      background-color: lighten(#434343, 5%);
    }
  }
  .spin{
    border: 1px solid white;
    text-align: left;
    padding-left: 0.5em;
    background-color: blue;
    height: $num_height;
    line-height: $num_height;

    &:hover {
      background-color: lighten(#434343, 5%);
    }
  }
}

#features{
  font-weight: bold;
  color: #FDFF9D;
  font-family: 'Playfair Display', serif;

  h2{
    text-align: center;
    font-size: 3em;
    font-weight: bold;
    padding: 0.5em 0 0.5em;
  }

  .selections{
    text-align: left;
    font-family: 'Playfair Display', serif;
    font-size: 2em;
  }

  .winnings{
    text-align: left;
    font-family: 'Playfair Display', serif;
    font-size: 2em;
  }
  .preview{
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 2em;
  }
  .answer{
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 8em;
    // padding-right: 1.5em;
  }
  .info-links {
    text-align: center;
    font-size: 1.5em;

    .i-link {
      padding: 0.5em 0 0.5em;
      text-decoration: none;
    }
  }
  .game-info {
    padding: 0.5em 0 0.5em;
  }
}